    <nav ng-controller="NavController" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ company }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-repeat="dashboard in dashboards">
                    <a >{{ dashboard }}</a>
                </li>
              </ul>
            </li>
          </ul>          
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	
    <br />
    <br />
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="text-align: center;">
				<h1>Globosat API</h1>
				<hr/>
			</div>
		</div>
		<div class="row">
			<div ng-view></div>
		</div>
	</div>   
